In [ ]:
LAB 2.9

In [ ]:
#Create a Python connection with SQL database and retrieve the results of the last two queries (also mentioned below) as dataframes:

In [1]:
#sqlalchemy es la biblioteca que nos va a ayudar a conectar sentencias de SQL con
#alǵun gestor de SQL (e.g. mysql, sqlite)
from sqlalchemy import create_engine

import pandas as pd
import getpass
import pymysql

In [2]:
password= getpass.getpass()

 ········

In [8]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
# :tiger@localhost/foo'
engine= create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [9]:
##Check the number of rentals for each customer for May

In [19]:
may_rentals= "select distinct r.customer_id, count(r.rental_id) over (partition by r.customer_id) as may_rentals \
FROM sakila.rental r \
WHERE MONTH(r.rental_date) = 5 AND YEAR(r.rental_date) = 2005 \
ORDER BY may_rentals desc"

may_df = pd.read_sql_query(may_df, engine)
data.head(20)

    customer_id  june_rentals
0            31            11
1           454            10
2           213             9
3           267             9
4           295             9
5           329             9
6           457             9
7           526             9
8           561             9
9            27             8
10          176             8
11          178             8
12          196             8
13          197             8
14          234             8
15          236             8
16          260             8
17          268             8
18          336             8
19          340             8

In [20]:
june_rentals = "select distinct r.customer_id, count(r.rental_id) over (partition by r.customer_id) as june_rentals \
FROM sakila.rental r \
WHERE MONTH(r.rental_date) = 6 AND YEAR(r.rental_date) = 2005 \
ORDER BY june_rentals desc"

june_df = pd.read_sql_query(june_df, engine)
data.head(20)

    customer_id  june_rentals
0            31            11
1           454            10
2           213             9
3           267             9
4           295             9
5           329             9
6           457             9
7           526             9
8           561             9
9            27             8
10          176             8
11          178             8
12          196             8
13          197             8
14          234             8
15          236             8
16          260             8
17          268             8
18          336             8
19          340             8

In [ ]:
#Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

In [ ]:
#Hint: For this part, you can create a join between the two dataframes created before, using the merge function available 
#for pandas dataframes. Here is a link to the documentation for the merge function.

In [21]:
merged_df = may_df.merge(june_df, on='customer_id')

In [22]:
merged_df

     customer_id  may_rentals  june_rentals
0            197            8             8
1            109            7             5
2            506            7             5
3             19            6             3
4             53            6             5
..           ...          ...           ...
507          580            1             1
508          582            1             3
509          590            1             5
510          595            1             2
511          599            1             4

[512 rows x 3 columns]

In [26]:
for i in range(len(merged_df)):
    customer_id = merged_df['customer_id'].iloc[i]
    may_rental = merged_df['may_rentals'].iloc[i]
    june_rental = merged_df['june_rentals'].iloc[i]
    if may_rental > june_rental:
        print("Customer", customer_id, "rented more in May")
    elif may_rental < june_rental:
        print("Customer", customer_id, "rented more in June")
    else:
        print("Customer", customer_id, "rented equally in June and May")

Customer 197 rented equally in June and May
Customer 109 rented more in May
Customer 506 rented more in May
Customer 19 rented more in May
Customer 53 rented more in May
Customer 161 rented more in May
Customer 207 rented more in May
Customer 239 rented more in May
Customer 245 rented more in May
Customer 251 rented more in May
Customer 269 rented more in May
Customer 274 rented more in May
Customer 371 rented more in June
Customer 596 rented more in May
Customer 7 rented equally in June and May
Customer 14 rented more in May
Customer 44 rented more in May
Customer 50 rented more in May
Customer 77 rented equally in June and May
Customer 176 rented more in June
Customer 198 rented more in May
Customer 214 rented more in May
Customer 222 rented more in May
Customer 246 rented equally in June and May
Customer 250 rented more in May
Customer 256 rented more in June
Customer 311 rented more in May
Customer 391 rented equally in June and May
Customer 429 rented more in May
Customer 468 rented more in June
Customer 469 rented more in May
Customer 528 rented more in May
Customer 551 rented more in May
Customer 569 rented more in May
Customer 575 rented more in May
Customer 16 rented equally in June and May
Customer 49 rented more in June
Customer 56 rented equally in June and May
Customer 105 rented more in May
Customer 124 rented more in May
Customer 134 rented equally in June and May
Customer 159 rented more in May
Customer 196 rented more in June
Customer 204 rented more in June
Customer 249 rented more in June
Customer 261 rented more in June
Customer 272 rented more in May
Customer 288 rented more in May
Customer 296 rented more in May
Customer 307 rented more in June
Customer 312 rented more in May
Customer 313 rented more in May
Customer 368 rented more in June
Customer 369 rented more in May
Customer 375 rented more in May
Customer 384 rented more in June
Customer 387 rented more in June
Customer 400 rented more in May
Customer 412 rented more in May
Customer 460 rented more in May
Customer 472 rented more in June
Customer 502 rented more in May
Customer 503 rented more in May
Customer 535 rented more in May
Customer 549 rented more in May
Customer 594 rented more in June
Customer 5 rented more in June
Customer 6 rented more in June
Customer 9 rented more in May
Customer 17 rented equally in June and May
Customer 18 rented more in June
Customer 20 rented more in June
Customer 21 rented more in June
Customer 22 rented more in May
Customer 23 rented more in June
Customer 32 rented more in June
Customer 46 rented more in June
Customer 47 rented equally in June and May
Customer 48 rented more in May
Customer 51 rented more in May
Customer 54 rented more in June
Customer 55 rented more in June
Customer 58 rented equally in June and May
Customer 59 rented equally in June and May
Customer 60 rented more in May
Customer 64 rented more in May
Customer 72 rented more in May
Customer 79 rented more in May
Customer 83 rented more in June
Customer 84 rented more in June
Customer 89 rented more in June
Customer 93 rented more in May
Customer 102 rented more in May
Customer 114 rented more in June
Customer 115 rented equally in June and May
Customer 119 rented equally in June and May
Customer 126 rented more in May
Customer 131 rented more in May
Customer 142 rented more in May
Customer 150 rented more in May
Customer 154 rented equally in June and May
Customer 162 rented more in June
Customer 167 rented equally in June and May
Customer 170 rented more in May
Customer 172 rented equally in June and May
Customer 179 rented more in May
Customer 184 rented more in May
Customer 185 rented equally in June and May
Customer 201 rented more in June
Customer 209 rented more in June
Customer 231 rented more in May
Customer 236 rented more in June
Customer 240 rented equally in June and May
Customer 242 rented more in June
Customer 247 rented more in May
Customer 253 rented more in June
Customer 257 rented more in May
Customer 259 rented more in June
Customer 267 rented more in June
Customer 282 rented more in June
Customer 284 rented equally in June and May
Customer 287 rented more in June
Customer 291 rented equally in June and May
Customer 293 rented more in June
Customer 300 rented more in May
Customer 301 rented equally in June and May
Customer 303 rented more in June
Customer 304 rented more in June
Customer 316 rented more in June
Customer 319 rented more in June
Customer 321 rented more in May
Customer 323 rented equally in June and May
Customer 326 rented more in June
Customer 337 rented more in May
Customer 354 rented more in June
Customer 357 rented more in June
Customer 359 rented more in June
Customer 374 rented more in June
Customer 381 rented more in June
Customer 399 rented more in May
Customer 408 rented equally in June and May
Customer 416 rented more in June
Customer 417 rented more in May
Customer 432 rented equally in June and May
Customer 436 rented more in May
Customer 437 rented equally in June and May
Customer 438 rented more in June
Customer 439 rented more in June
Customer 442 rented more in June
Customer 446 rented more in June
Customer 449 rented equally in June and May
Customer 451 rented more in June
Customer 452 rented more in June
Customer 473 rented more in June
Customer 480 rented more in May
Customer 482 rented more in May
Customer 484 rented more in June
Customer 486 rented more in June
Customer 498 rented more in June
Customer 500 rented more in June
Customer 504 rented more in May
Customer 510 rented more in June
Customer 526 rented more in June
Customer 533 rented more in June
Customer 547 rented more in May
Customer 548 rented equally in June and May
Customer 556 rented more in June
Customer 562 rented more in June
Customer 584 rented more in May
Customer 589 rented more in June
Customer 1 rented more in June
Customer 3 rented more in June
Customer 12 rented more in June
Customer 24 rented more in June
Customer 25 rented more in June
Customer 26 rented more in June
Customer 28 rented more in June
Customer 35 rented more in June
Customer 36 rented more in May
Customer 37 rented more in June
Customer 43 rented more in May
Customer 57 rented more in June
Customer 62 rented more in June
Customer 65 rented equally in June and May
Customer 67 rented more in June
Customer 69 rented equally in June and May
Customer 71 rented more in June
Customer 73 rented equally in June and May
Customer 75 rented more in June
Customer 76 rented more in June
Customer 82 rented more in June
Customer 85 rented more in June
Customer 87 rented more in June
Customer 92 rented more in June
Customer 94 rented more in June
Customer 103 rented more in June
Customer 104 rented more in June
Customer 106 rented equally in June and May
Customer 107 rented more in June
Customer 108 rented more in June
Customer 110 rented more in May
Customer 112 rented more in June
Customer 113 rented more in June
Customer 117 rented equally in June and May
Customer 120 rented more in June
Customer 122 rented more in June
Customer 127 rented more in June
Customer 128 rented equally in June and May
Customer 130 rented more in June
Customer 133 rented more in June
Customer 135 rented more in June
Customer 138 rented more in June
Customer 143 rented more in June
Customer 144 rented more in June
Customer 146 rented more in June
Customer 147 rented more in June
Customer 151 rented more in June
Customer 152 rented more in May
Customer 156 rented more in June
Customer 157 rented more in May
Customer 158 rented more in June
Customer 168 rented more in May
Customer 169 rented equally in June and May
Customer 173 rented more in June
Customer 174 rented more in June
Customer 182 rented more in June
Customer 186 rented more in June
Customer 190 rented more in June
Customer 191 rented more in June
Customer 193 rented more in June
Customer 194 rented more in June
Customer 215 rented more in June
Customer 217 rented more in June
Customer 220 rented more in May
Customer 225 rented more in May
Customer 227 rented more in June
Customer 228 rented more in June
Customer 230 rented more in June
Customer 232 rented equally in June and May
Customer 235 rented equally in June and May
Customer 237 rented more in June
Customer 238 rented more in June
Customer 241 rented more in June
Customer 244 rented more in June
Customer 248 rented equally in June and May
Customer 252 rented more in June
Customer 254 rented more in June
Customer 263 rented equally in June and May
Customer 266 rented more in June
Customer 270 rented more in June
Customer 273 rented more in June
Customer 276 rented more in June
Customer 279 rented more in June
Customer 281 rented equally in June and May
Customer 297 rented more in June
Customer 299 rented more in June
Customer 302 rented more in May
Customer 306 rented equally in June and May
Customer 309 rented more in June
Customer 314 rented equally in June and May
Customer 315 rented more in May
Customer 322 rented more in June
Customer 330 rented more in June
Customer 331 rented more in June
Customer 334 rented more in June
Customer 343 rented more in June
Customer 344 rented more in June
Customer 345 rented more in June
Customer 346 rented more in June
Customer 348 rented more in June
Customer 350 rented more in June
Customer 360 rented more in June
Customer 361 rented more in June
Customer 365 rented more in June
Customer 367 rented more in May
Customer 372 rented more in June
Customer 379 rented more in June
Customer 382 rented more in June
Customer 383 rented more in June
Customer 385 rented more in June
Customer 388 rented more in June
Customer 390 rented more in June
Customer 393 rented more in June
Customer 394 rented more in May
Customer 403 rented more in June
Customer 405 rented more in June
Customer 411 rented more in June
Customer 413 rented equally in June and May
Customer 414 rented more in June
Customer 421 rented more in June
Customer 430 rented more in June
Customer 435 rented equally in June and May
Customer 444 rented more in June
Customer 447 rented more in June
Customer 448 rented more in June
Customer 455 rented more in June
Customer 462 rented more in June
Customer 464 rented equally in June and May
Customer 476 rented more in June
Customer 479 rented more in June
Customer 489 rented more in June
Customer 490 rented more in May
Customer 491 rented more in June
Customer 495 rented more in June
Customer 496 rented more in May
Customer 501 rented equally in June and May
Customer 505 rented more in June
Customer 507 rented more in June
Customer 508 rented more in May
Customer 509 rented equally in June and May
Customer 511 rented more in June
Customer 515 rented more in June
Customer 516 rented more in June
Customer 523 rented more in June
Customer 524 rented more in June
Customer 531 rented more in May
Customer 534 rented more in June
Customer 536 rented more in June
Customer 538 rented more in June
Customer 539 rented more in June
Customer 541 rented equally in June and May
Customer 542 rented equally in June and May
Customer 543 rented more in June
Customer 544 rented more in June
Customer 545 rented more in May
Customer 546 rented more in June
Customer 554 rented more in June
Customer 557 rented more in June
Customer 561 rented more in June
Customer 563 rented equally in June and May
Customer 564 rented more in May
Customer 565 rented more in June
Customer 566 rented more in June
Customer 571 rented more in June
Customer 576 rented more in June
Customer 581 rented more in June
Customer 586 rented equally in June and May
Customer 587 rented more in June
Customer 588 rented more in June
Customer 593 rented more in June
Customer 597 rented more in June
Customer 2 rented equally in June and May
Customer 8 rented more in June
Customer 10 rented more in June
Customer 11 rented more in June
Customer 27 rented more in June
Customer 29 rented more in June
Customer 33 rented more in June
Customer 40 rented more in June
Customer 42 rented more in June
Customer 45 rented more in June
Customer 52 rented more in June
Customer 66 rented more in June
Customer 70 rented equally in June and May
Customer 74 rented more in June
Customer 81 rented more in June
Customer 86 rented more in June
Customer 88 rented more in June
Customer 91 rented more in June
Customer 95 rented more in June
Customer 98 rented more in June
Customer 99 rented more in June
Customer 100 rented more in June
Customer 111 rented more in June
Customer 116 rented more in June
Customer 118 rented more in June
Customer 121 rented more in June
Customer 123 rented more in June
Customer 125 rented more in June
Customer 136 rented equally in June and May
Customer 137 rented more in June
Customer 141 rented more in June
Customer 145 rented more in June
Customer 148 rented more in June
Customer 149 rented more in June
Customer 155 rented more in June
Customer 164 rented more in June
Customer 165 rented more in June
Customer 166 rented more in June
Customer 171 rented more in June
Customer 180 rented more in June
Customer 181 rented more in June
Customer 183 rented more in June
Customer 187 rented more in June
Customer 189 rented more in June
Customer 192 rented equally in June and May
Customer 199 rented more in June
Customer 200 rented more in June
Customer 203 rented more in June
Customer 208 rented more in June
Customer 210 rented more in June
Customer 211 rented more in June
Customer 213 rented more in June
Customer 216 rented more in June
Customer 219 rented more in June
Customer 221 rented more in June
Customer 223 rented more in June
Customer 234 rented more in June
Customer 243 rented more in June
Customer 260 rented more in June
Customer 262 rented more in June
Customer 265 rented more in June
Customer 271 rented equally in June and May
Customer 275 rented more in June
Customer 277 rented more in June
Customer 278 rented more in June
Customer 280 rented more in June
Customer 286 rented more in June
Customer 290 rented more in June
Customer 292 rented more in June
Customer 294 rented more in June
Customer 295 rented more in June
Customer 298 rented more in June
Customer 305 rented more in June
Customer 308 rented more in June
Customer 310 rented more in June
Customer 317 rented more in June
Customer 318 rented more in June
Customer 324 rented more in June
Customer 325 rented more in June
Customer 327 rented more in June
Customer 328 rented more in June
Customer 333 rented more in June
Customer 338 rented more in June
Customer 339 rented more in June
Customer 349 rented more in June
Customer 351 rented more in June
Customer 352 rented more in June
Customer 353 rented more in June
Customer 355 rented more in June
Customer 356 rented more in June
Customer 358 rented more in June
Customer 362 rented more in June
Customer 363 rented more in June
Customer 364 rented more in June
Customer 366 rented more in June
Customer 373 rented more in June
Customer 376 rented more in June
Customer 378 rented more in June
Customer 380 rented more in June
Customer 386 rented more in June
Customer 389 rented more in June
Customer 396 rented more in June
Customer 397 rented more in June
Customer 398 rented more in June
Customer 402 rented more in June
Customer 404 rented more in June
Customer 406 rented more in June
Customer 407 rented more in June
Customer 409 rented more in June
Customer 415 rented more in June
Customer 419 rented equally in June and May
Customer 420 rented more in June
Customer 422 rented more in June
Customer 424 rented more in June
Customer 425 rented equally in June and May
Customer 426 rented more in June
Customer 427 rented more in June
Customer 428 rented more in June
Customer 431 rented more in June
Customer 434 rented more in June
Customer 441 rented more in June
Customer 443 rented equally in June and May
Customer 450 rented more in June
Customer 454 rented more in June
Customer 456 rented more in June
Customer 457 rented more in June
Customer 459 rented more in June
Customer 461 rented more in June
Customer 463 rented more in June
Customer 465 rented more in June
Customer 466 rented more in June
Customer 467 rented more in June
Customer 470 rented more in June
Customer 471 rented more in June
Customer 474 rented more in June
Customer 477 rented more in June
Customer 481 rented more in June
Customer 483 rented more in June
Customer 485 rented more in June
Customer 492 rented more in June
Customer 493 rented more in June
Customer 494 rented equally in June and May
Customer 497 rented more in June
Customer 499 rented more in June
Customer 513 rented more in June
Customer 514 rented more in June
Customer 517 rented more in June
Customer 518 rented more in June
Customer 519 rented more in June
Customer 520 rented more in June
Customer 522 rented more in June
Customer 525 rented equally in June and May
Customer 529 rented more in June
Customer 530 rented more in June
Customer 532 rented more in June
Customer 537 rented more in June
Customer 550 rented more in June
Customer 552 rented more in June
Customer 553 rented more in June
Customer 560 rented more in June
Customer 570 rented more in June
Customer 572 rented more in June
Customer 573 rented more in June
Customer 574 rented more in June
Customer 577 rented more in June
Customer 578 rented more in June
Customer 580 rented equally in June and May
Customer 582 rented more in June
Customer 590 rented more in June
Customer 595 rented more in June
Customer 599 rented more in June